* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FCDAB7;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-frame {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  max-width: 400px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: justify;
}

.dice-frame {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 1rem;
}

@media (max-width: 400px) {
  .dice-frame {
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}



.die {
  height: 50px;
  width: 50px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: none;
  background-color: white;
  font-size: 1.75rem;
  font-weight: bold;
}

.button-roll{
  height: 50px;
  width: 150px;
  white-space: nowrap;
  padding: 6px 21px;
  border: none;
  border-radius: 6px;
  background-color: #5035FF;
  color: white;
  font-size: 1.2rem;
}